<div><h2>
  now you can add a labour from here
</h2></div>
<div class="example-container">
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput maxlength="30" placeholder="Enter Your name">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter your number">
          <mat-form-field hintLabel="Max 10 characters"></mat-form-field>
        </mat-form-field>
      </form>
      